{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 12
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["css-modules-transform", "file-loader"]
}